@import "mixins.scss";


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}



//Начало стилей
body {
    background: linear-gradient(161deg, #050301 0%, #150c01 100%);
    width: 100%;
}

.center {
    margin-left: 147px;
    margin-right: 147px;
}

.wrapper {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}


//контейнер 1 хедер
.container1 {
    background-color: #000;

    .header {
        display: grid;
        grid-template-columns: 1fr 674px;
        grid-template-rows: 74px;
        align-items: center;
        margin-left: 55px;
        margin-right: 63px;

        .menu {
            .burger {
                display: none;
            }

            #close {
                display: none;
            }
        }

        .logo {
            font-family: "Poppins";
            font-weight: 800;
            font-size: 29px;
            line-height: 153%;
            color: #fff;
        }

        .menu {
            ul {
                display: grid;
                grid-auto-flow: column;
                align-items: center;

                .first-link {}

                li {
                    a {
                        font-family: "Poppins";
                        font-weight: 400;
                        font-size: 16px;
                        color: #fff;
                        text-decoration: none;
                    }

                }

                .contact-btn {
                    justify-self: end;

                    a {
                        border-radius: 6px;
                        width: 131px;
                        height: 41px;
                        background: #fa9021;
                        padding: 10px 28px;
                    }
                }
            }
        }
    }
}

// контейнер 2
.container2.center {
    margin-right: 0px;
    max-width: 100%;
}

.container2 {
    margin-top: 35px;
    display: flex;

    .left-info {
        .left-info-btn {
            border-radius: 40px;
            width: 195px;
            height: 53px;
            background: linear-gradient(113deg, #fa8305 0%, #fb9e3c 100%);
            margin-top: 50px;

            p {
                font-family: "Poppins";
                font-weight: 500;
                font-size: 16px;
                color: #fff;
                padding-left: 30px;
                padding-top: 18px;
            }
        }

        padding-top: 93px;
        padding-right: 85px;

        .home {
            font-family: "Poppins";
            font-weight: 400;
            font-size: 12px;
            line-height: 209%;
            color: #fff;
            padding-bottom: 38px;

            span {
                color: #e47500;
            }
        }

        h4 {
            font-family: "Poppins";
            font-weight: 700;
            font-size: 30px;
            line-height: 180%;
            color: #fff;
            padding-bottom: 25px;
        }

        .text {
            font-family: "Poppins";
            font-weight: 400;
            font-size: 15px;
            line-height: 209%;
            color: #fff;
            padding-bottom: 57px;
        }
    }
}

//контейнер3
.container3 {
    h2 {
        font-family: "Poppins";
        font-weight: 600;
        font-size: 25px;
        line-height: 180%;
        color: #fff;
        margin-top: 144px;
        margin-bottom: 63px;
    }

    .work-cards {
        display: flex;
        justify-content: space-between;
        gap: 43px;

        div {
            border-radius: 20px;
            background: #1c140f;
        }

        .purple-card {
            .card-info {
                padding: 37px 64px;

                span {
                    border-radius: 8px;
                    width: 140px;
                    height: 39px;
                    background: rgba(176, 0, 220, 0.11);
                    font-family: "Poppins";
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 187%;
                    color: #fff;
                    display: block;
                    text-align: center;
                    padding-top: 7px;
                }

                h3 {
                    font-family: "Poppins";
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 187%;
                    color: #fff;
                }

                p {
                    font-family: "Poppins";
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 187%;
                    color: #fff;
                }
            }
        }

        .brown-card {
            .card-info {
                padding: 37px 64px;

                span {
                    border-radius: 8px;
                    width: 140px;
                    height: 39px;
                    background: rgba(220, 66, 0, 0.11);
                    font-family: "Poppins";
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 187%;
                    color: #fff;
                    display: block;
                    text-align: center;
                    padding-top: 7px;
                }

                h3 {
                    font-family: "Poppins";
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 187%;
                    color: #fff;
                }

                p {
                    font-family: "Poppins";
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 187%;
                    color: #fff;
                }
            }
        }

        .green-card {
            .card-info {
                padding: 37px 64px;

                span {
                    border-radius: 8px;
                    width: 140px;
                    height: 39px;
                    background: rgba(0, 220, 141, 0.11);
                    font-family: "Poppins";
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 187%;
                    color: #fff;
                    display: block;
                    text-align: center;
                    padding-top: 7px;
                }

                h3 {
                    font-family: "Poppins";
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 187%;
                    color: #fff;
                }

                p {
                    font-family: "Poppins";
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 187%;
                    color: #fff;
                }
            }
        }
    }
}


// контейнер4

.container4 {
    background: #1c140f;
    margin-top: 147px;
    display: flex;

    img {
        padding-top: 113px;
        padding-left: 147px;
        padding-right: 95px;
    }

    .right-info {
        padding-top: 113px;
        padding-right: 203px;

        span {
            font-family: "Poppins";
            font-weight: 500;
            font-size: 16px;
            line-height: 203%;
            color: #fff;
            padding-top: 21px;
        }

        h2 {
            font-family: "Poppins";
            font-weight: 600;
            font-size: 28px;
            line-height: 158%;
            color: #fff;
            padding-top: 14px;
        }

        p {
            font-family: "Poppins";
            font-weight: 400;
            font-size: 16px;
            line-height: 203%;
            color: #fff;
            padding-top: 14px;
        }
    }
}

// Контейнер5

.container5 {
    margin-top: 148px;

    h2 {
        font-family: "Poppins";
        font-weight: 600;
        font-size: 25px;
        line-height: 180%;
        color: #fff;
        margin-bottom: 53px;
    }

    .cards-team {
        display: flex;
        justify-content: space-between;
        gap: 28px;

        .cards-emoji {
            background: #1c140f;
            border-radius: 20px;
            width: 295px;
            height: 253px;
        }

        .cards-emoji>div {
            margin: 35px 86px;

            p {
                font-family: "Poppins";
                font-weight: 600;
                font-size: 19px;
                line-height: 203%;
                color: #fff;
            }

            span {
                font-family: "Poppins";
                font-weight: 300;
                font-size: 16px;
                line-height: 203%;
                color: #e8e8e8;
                padding: 0 33px;
            }
        }

    }
}


//Контейнер шесть
.container6 {
    margin-bottom: 163px;

    h1 {
        font-family: "Poppins";
        font-weight: 600;
        font-size: 30px;
        color: #fff;
        margin-bottom: 32px;
        margin-top: 157px;
    }

    p {
        font-family: "Poppins";
        font-weight: 400;
        font-size: 16px;
        line-height: 187%;
        color: #fff;
        margin-bottom: 74px;
        width: 545px;
        max-width: 100%;
    }

    .input-menu {
        border-radius: 15px;
        width: 100%;
        background: #1c140f;
        padding-left: 56px;
        display: flex;

        .input-menu-text {
            margin-top: -30px;

            h1 {
                font-family: "Poppins";
                font-weight: 500;
                font-size: 30px;
                color: #fff;
                padding-top: 40px;
            }

            p {
                width: 100%;
                font-family: "Poppins";
                font-weight: 400;
                font-size: 17px;
                color: #fff;
            }
        }

        .email-container {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 100px;
            padding-top: 70px;
        }

        .email-input {
            border-radius: 8px;
            width: 385px;
            height: 48px;
            background: #fff;
            position: relative;
        }

        .email-input::placeholder {
            font-family: "Poppins";
            font-weight: 300;
            font-size: 13px;
            text-align: center;
            color: #898989;
            margin-right: 200px;
        }

        .email-button {
            border-radius: 8px;
            width: 104px;
            height: 37px;
            background: #dc7000;
            position: relative;
            right: 111px;

            .email-button-txt {
                font-family: "Poppins";
                font-weight: 400;
                font-size: 13px;
                text-align: center;
                color: #fff;
            }
        }

        .email-button:hover {
            background-color: #cc610d;
        }
    }
}

// Контейнер семь
.footer-section {

    .top-content {
        background: #070707;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        padding-top: 73px;

        .footer-left {
            margin-bottom: 62px;
            margin-left: 119px;

            .logo {
                margin-bottom: 15px;

                p {
                    a {
                        font-family: "Poppins";
                        font-weight: 800;
                        font-size: 29px;
                        line-height: 153%;
                        color: #fff;
                        text-decoration: none;
                    }
                }
            }

            p {
                font-family: "Poppins";
                font-weight: 400;
                font-size: 16px;
                color: #fff;
                margin-bottom: 25px;
            }

            span {
                font-family: "Poppins";
                font-weight: 400;
                font-size: 16px;
                color: #fff;
            }
        }

        .footer-about-us {
            margin-bottom: 56px;
            margin-left: 78px;

            h4 {
                font-family: "Poppins";
                font-weight: 500;
                font-size: 17px;
                color: #fff;
                margin-bottom: 15px;
            }

            ul {
                li {
                    a {
                        font-family: "Poppins";
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 186%;
                        color: #fff;
                        text-decoration: none;
                    }
                }
            }
        }

        .footer-contact-us {
            margin-left: 132px;

            h4 {
                font-family: "Poppins";
                font-weight: 500;
                font-size: 17px;
                color: #fff;
                margin-bottom: 20px;
            }

            p {
                font-family: "Poppins";
                font-weight: 400;
                font-size: 16px;
                color: #fff;
                margin-bottom: 40px;
            }

            a {
                font-family: "Poppins";
                font-weight: 400;
                font-size: 16px;
                color: #fff;
                text-decoration: none;
            }
        }

        .social {
            margin-left: 83px;
        }

        .footer-bottom {}
    }

    .bottom-content {
        background: #070707;
        border-top: 0.80px solid #d2d2d2;
        width: 100%;

        p {
            font-family: "Poppins";
            font-weight: 400;
            font-size: 13px;
            line-height: 191%;
            color: #fff;
            text-align: center;
            padding-top: 29px;
            padding-bottom: 29px;
        }
    }
}


//Попытка в адаптив
@media screen and (max-width: 1439px) {
    .container6 {
        h1 {
            margin-top: 18px;
        }

        .input-menu {
            flex-direction: column;

            .email-container {
                justify-content: normal;
                margin-left: 0px;
                padding-top: 0px;
                padding-bottom: 30px;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .footer-section {

        .top-content {
            .social {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }
        }
    }

    .container1 {
        background-color: #000;

        .header {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 74px;
            align-items: center;
            margin-left: 55px;
            margin-right: 63px;

            .menu {
                justify-self: end;

                ul.mob-menu {
                    left: 0%;
                }

                ul {
                    display: flex;
                    background-color: rgba(0, 0, 0, 0.9);
                    min-height: 100vh;
                    width: 100%;
                    position: fixed;
                    left: -100%;
                    top: 0;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 30px;
                    transition: 0.8s;

                    li#close {
                        display: block;
                        position: absolute;
                        top: -7px;
                        right: 25px;
                        font-size: 30px;
                        color: #fff;
                    }
                }

                #close {
                    display: block;
                    position: absolute;
                    top: -7px;
                    right: 25px;
                    font-size: 30px;
                    color: #fff;
                }

                .burger {
                    display: block;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .footer-section .top-content .footer-left p {
        font-size: 12px;
    }

    .footer-section .top-content .footer-about-us h4 {
        font-size: 14px;
    }

    .footer-section .top-content .footer-about-us ul li a {
        font-size: 12px;
    }

    .footer-section .top-content .footer-contact-us h4 {
        font-size: 14px
    }

    .footer-section .top-content .footer-contact-us p {
        font-size: 12px
    }
}