/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: linear-gradient(161deg, #050301 0%, #150c01 100%);
  width: 100%;
}

.center {
  margin-left: 147px;
  margin-right: 147px;
}

.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.container1 {
  background-color: #000;
}
.container1 .header {
  display: grid;
  grid-template-columns: 1fr 674px;
  grid-template-rows: 74px;
  align-items: center;
  margin-left: 55px;
  margin-right: 63px;
}
.container1 .header .menu .burger {
  display: none;
}
.container1 .header .menu #close {
  display: none;
}
.container1 .header .logo {
  font-family: "Poppins";
  font-weight: 800;
  font-size: 29px;
  line-height: 153%;
  color: #fff;
}
.container1 .header .menu ul {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}
.container1 .header .menu ul li a {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}
.container1 .header .menu ul .contact-btn {
  justify-self: end;
}
.container1 .header .menu ul .contact-btn a {
  border-radius: 6px;
  width: 131px;
  height: 41px;
  background: #fa9021;
  padding: 10px 28px;
}

.container2 {
  margin-top: 110px;
}
.container2 .services {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 209%;
  color: #fff;
  text-align: center;
}
.container2 .services span {
  color: #e47500;
}
.container2 h2 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 33px;
  line-height: 180%;
  text-align: center;
  color: #fff;
}
.container2 .simple-text {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 187%;
  text-align: center;
  color: #fff;
  margin-bottom: 45px;
}
.container2 .oblojka {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-bottom: 103px;
}
.container2 .oblojka .search-container {
  display: flex;
  align-items: center;
  background-color: #2E2E2E;
  border-radius: 30px;
  padding: 10px 20px;
  max-width: 400px;
  width: 100%;
  margin-top: 70px;
}
.container2 .oblojka .search-container input {
  background: none;
  border: none;
  outline: none;
  color: #FFFFFF;
  width: 100%;
  font-size: 16px;
  margin-left: 20px;
}
.container2 .oblojka .search-container input::-moz-placeholder {
  color: #A5A5A5;
}
.container2 .oblojka .search-container input::placeholder {
  color: #A5A5A5;
}

.container3 {
  display: flex;
}
.container3 .left-side {
  width: 580px;
  margin-right: 72px;
}
.container3 .left-side .top-card .block-under-img {
  margin-top: 20px;
  display: flex;
  margin-bottom: 20px;
}
.container3 .left-side .top-card .block-under-img .smashBtn {
  background: #2351f5;
  width: 164px;
  height: 48px;
  position: relative;
}
.container3 .left-side .top-card .block-under-img .smashBtn span {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  color: #fffcfc;
  position: absolute;
  margin-left: 30px;
  top: 10px;
}
.container3 .left-side .top-card .block-under-img > span {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  color: #fff;
  margin-left: 20px;
  margin-top: 10px;
}
.container3 .left-side .top-card h4 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 30px;
  color: #fff;
  margin-bottom: 32px;
}
.container3 .left-side .top-card p {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 17px;
  line-height: 208%;
  color: #fff;
}
.container3 .left-side .top-card .simple-text {
  margin-top: 44px;
  margin-bottom: 90px;
}
.container3 .left-side hr {
  border: 0.7px solid #a5a5a5;
  width: 587px;
  height: 0px;
  margin-bottom: 90px;
}
.container3 .left-side .bottom-card .block-under-img {
  margin-top: 20px;
  display: flex;
  margin-bottom: 20px;
}
.container3 .left-side .bottom-card .block-under-img .smashBtn {
  background: #2351f5;
  width: 164px;
  height: 48px;
  position: relative;
}
.container3 .left-side .bottom-card .block-under-img .smashBtn span {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  color: #fffcfc;
  position: absolute;
  margin-left: 30px;
  top: 10px;
}
.container3 .left-side .bottom-card .block-under-img > span {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  color: #fff;
  margin-left: 20px;
  margin-top: 10px;
}
.container3 .left-side .bottom-card h4 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 30px;
  color: #fff;
  margin-bottom: 32px;
}
.container3 .left-side .bottom-card p {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 17px;
  line-height: 208%;
  color: #fff;
}
.container3 .left-side .bottom-card .simple-text {
  margin-top: 44px;
  margin-bottom: 90px;
}
.container3 .right-side .cards {
  display: flex;
  margin-bottom: 60px;
}
.container3 .right-side .cards .block-under-img {
  margin-top: 26px;
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;
  margin-left: 31px;
}
.container3 .right-side .cards .block-under-img p {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 23px;
  color: #fff;
}
.container3 .right-side .cards .block-under-img .smashBtn {
  background: #2351f5;
  width: 137px;
  height: 39px;
  position: relative;
  margin-right: 15px;
}
.container3 .right-side .cards .block-under-img .smashBtn span {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  color: #fffcfc;
  position: absolute;
  margin-left: 20px;
  top: 5px;
}
.container3 .right-side .cards .block-under-img > span {
  margin-top: 5px;
}
.container3 .right-side .cards .block-under-img span {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  color: #fff;
}
.container3 .right-side .cards .block-under-img .right-info-txt {
  display: flex;
}
.container3 .right-side .cards .block-under-img .right-info-txt > span {
  margin-top: 10px;
}
.container3 .right-side .cards .block-under-img .right-info-txt .smashBtn {
  margin-bottom: 23px;
}
.container3 .right-side .pink .block-under-img .right-info-txt .smashBtn {
  background: #ff8484;
}
.container3 .right-side .blue1 .block-under-img .right-info-txt .smashBtn {
  background: #2351f5;
}
.container3 .right-side .orange .block-under-img .right-info-txt .smashBtn {
  background: #ff7c32;
}
.container3 .right-side .blue2 .block-under-img .right-info-txt .smashBtn {
  background: #2351f5;
}
.container3 .right-side .green .block-under-img .right-info-txt .smashBtn {
  background: #23a54f;
}
.container3 .right-side .blue3 .block-under-img .right-info-txt .smashBtn {
  background: #2351F5;
}
.container3 .right-side .purple .block-under-img .right-info-txt .smashBtn {
  background: #9921C3;
}

.container6 {
  margin-bottom: 163px;
}
.container6 h1 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 30px;
  color: #fff;
  margin-bottom: 32px;
  margin-top: 107px;
}
.container6 p {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  color: #fff;
  margin-bottom: 74px;
  width: 545px;
  max-width: 100%;
}
.container6 .input-menu {
  border-radius: 15px;
  width: 100%;
  background: #1c140f;
  padding-left: 56px;
  display: flex;
}
.container6 .input-menu .input-menu-text {
  margin-top: -30px;
}
.container6 .input-menu .input-menu-text h1 {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 30px;
  color: #fff;
  padding-top: 40px;
}
.container6 .input-menu .input-menu-text p {
  width: 100%;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 17px;
  color: #fff;
}
.container6 .input-menu .email-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 100px;
  padding-top: 70px;
}
.container6 .input-menu .email-input {
  border-radius: 8px;
  width: 385px;
  height: 48px;
  background: #fff;
  position: relative;
}
.container6 .input-menu .email-input::-moz-placeholder {
  font-family: "Poppins";
  font-weight: 300;
  font-size: 13px;
  text-align: center;
  color: #898989;
  margin-right: 200px;
}
.container6 .input-menu .email-input::placeholder {
  font-family: "Poppins";
  font-weight: 300;
  font-size: 13px;
  text-align: center;
  color: #898989;
  margin-right: 200px;
}
.container6 .input-menu .email-button {
  border-radius: 8px;
  width: 104px;
  height: 37px;
  background: #dc7000;
  position: relative;
  right: 111px;
}
.container6 .input-menu .email-button .email-button-txt {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  color: #fff;
}
.container6 .input-menu .email-button:hover {
  background-color: #cc610d;
}

.footer-section .top-content {
  background: #070707;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding-top: 73px;
}
.footer-section .top-content .footer-left {
  margin-bottom: 62px;
  margin-left: 119px;
}
.footer-section .top-content .footer-left .logo {
  margin-bottom: 15px;
}
.footer-section .top-content .footer-left .logo p a {
  font-family: "Poppins";
  font-weight: 800;
  font-size: 29px;
  line-height: 153%;
  color: #fff;
  text-decoration: none;
}
.footer-section .top-content .footer-left p {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  margin-bottom: 25px;
}
.footer-section .top-content .footer-left span {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}
.footer-section .top-content .footer-about-us {
  margin-bottom: 56px;
  margin-left: 78px;
}
.footer-section .top-content .footer-about-us h4 {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 17px;
  color: #fff;
  margin-bottom: 15px;
}
.footer-section .top-content .footer-about-us ul li a {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 186%;
  color: #fff;
  text-decoration: none;
}
.footer-section .top-content .footer-contact-us {
  margin-left: 132px;
}
.footer-section .top-content .footer-contact-us h4 {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 17px;
  color: #fff;
  margin-bottom: 20px;
}
.footer-section .top-content .footer-contact-us p {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  margin-bottom: 40px;
}
.footer-section .top-content .footer-contact-us a {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}
.footer-section .top-content .social {
  margin-left: 83px;
}
.footer-section .bottom-content {
  background: #070707;
  border-top: 0.8px solid #d2d2d2;
  width: 100%;
}
.footer-section .bottom-content p {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 13px;
  line-height: 191%;
  color: #fff;
  text-align: center;
  padding-top: 29px;
  padding-bottom: 29px;
}

@media screen and (max-width: 1439px) {
  .container6 h1 {
    margin-top: 18px;
  }
  .container6 .input-menu {
    flex-direction: column;
  }
  .container6 .input-menu .email-container {
    justify-content: normal;
    margin-left: 0px;
    padding-top: 0px;
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 1024px) {
  .footer-section .top-content .social {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .container1 {
    background-color: #000;
  }
  .container1 .header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 74px;
    align-items: center;
    margin-left: 55px;
    margin-right: 63px;
  }
  .container1 .header .menu {
    justify-self: end;
  }
  .container1 .header .menu ul.mob-menu {
    left: 0%;
  }
  .container1 .header .menu ul {
    display: flex;
    background-color: rgba(0, 0, 0, 0.9);
    min-height: 100vh;
    width: 100%;
    position: fixed;
    left: -100%;
    top: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    transition: 0.8s;
  }
  .container1 .header .menu ul li#close {
    display: block;
    position: absolute;
    top: -7px;
    right: 25px;
    font-size: 30px;
    color: #fff;
  }
  .container1 .header .menu #close {
    display: block;
    position: absolute;
    top: -7px;
    right: 25px;
    font-size: 30px;
    color: #fff;
  }
  .container1 .header .menu .burger {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .footer-section .top-content .footer-left p {
    font-size: 12px;
  }
  .footer-section .top-content .footer-about-us h4 {
    font-size: 14px;
  }
  .footer-section .top-content .footer-about-us ul li a {
    font-size: 12px;
  }
  .footer-section .top-content .footer-contact-us h4 {
    font-size: 14px;
  }
  .footer-section .top-content .footer-contact-us p {
    font-size: 12px;
  }
}/*# sourceMappingURL=main.css.map */